.checkout-content {
    margin: 4rem 8rem;
}

.shopping-cart {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.content {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.first,
.second,
.third,
.end,
.del {
    margin-top: auto;
    margin-bottom: 5px;
    font-size: 1.2rem;
    text-align: center;
}
.cont {
    display: inline-block;
}

@media screen and (max-width: 1120px) {
    .cont {
        padding: 10px 10px;
    }
    .checkout-content {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.total {
    text-align: right;
    text-transform: uppercase;
    margin-top: 0.75rem;
}

.main-content {
    border: 1px;
    border-bottom: 0.5px;
    border-style: solid;
    border-color: gainsboro;
    border-radius: 3px;
}

.checkout-btn {
    padding: 0.75rem 1.52rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1.05rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
    margin-top: 15px;
    margin-left: auto;
    display: block;
}

.checkout-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}

.image {
    width: 200px;
}

.del {
    margin-left: auto;
}
@media screen and (min-width: 715px) {
    .first,
    .second,
    .third,
    .end,
    .del {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1.2rem;
        text-align: center;
    }
    .cont {
        padding: 20px 30px;
        display: grid;
        grid-template-columns: auto 1fr 1fr 1fr 1fr;
        width: 100%;
    }

    .del {
        margin-right: 15px;
    }

    .second,
    .third,
    .end {
        margin-right: 33.3px;
        margin-left: 33.3px;
    }

    .second {
        text-transform: capitalize;
    }
}
#checkout-button {
    margin: auto;
    width: 35%;
    height: 8rem;
    background-color: #ff9b3db4;
    border: 1px solid black;
}

#close {
    font-size: 1.2rem;
    height: 1.25rem;
    width: 1.25rem;
}
.close {
    text-align: right;
    padding: 0.25rem;
}

h2 {
    padding: 0 0.5rem 0.5rem 0.5rem;
}

p {
    padding: 0 0.5rem 0.5rem 0.5rem;
    font-size: 1.1rem;
}
